<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Primer Servidor</title>
</head>
<body>
    <% include parcial/navegacion.ejs%>
    <h1>Hola con express y EJS</h1>
</body>
</html>